html {
  height: 100%;
  margin: 0;
  font-family: 'helvetica', 'arial', 'sans-serif';
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0 0 1rem;
}
