.Sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-left: 1px solid #999;
  background-color: #ffffff;
}

.Sidebar > .details-container {
  flex: 1;
  overflow: hidden;
}
